   
    <footer class="page-footer font-small cyan darken-3">

    <div class="container">
    
    <div class="row">

        <div class="col-md-12 py-5">
            <div class="icons mb-5 flex-center">

            
                <a class = "ic" href="https://www.linkedin.com/in/tanmay-kumar-bisoi/"><i class="fab fa-linkedin-in fa-lg white-text mr-md-5 mr-3 fa-2x"></i></a>

            
                <a class = "ic" href="https://github.com/PseudoNerd"><i class="fab fa-github fa-lg white-text mr-md-5 mr-3 fa-2x"></i></a>

    
                <a class = "ic" href="mailto:tkb9721@gmail.com"><i class="fa fa-envelope fa-lg white-text mr-md-5 mr-3 fa-2x"></i></a>
            
            
                <a class = "ic" href="https://twitter.com/97rishu"><i class="fab fa-twitter fa-lg white-text mr-md-5 mr-3 fa-2x"></i></a>
           

                <a class = "ic" href="https://www.instagram.com/ri.shu_/"><i class="fab fa-instagram fa-lg white-text mr-md-5 mr-3 fa-2x"></i></a>
            

                <a class = "ic" href="https://medium.com/@tkb9721"><i class="fab fa-medium fa-lg white-text mr-md-5 mr-3 fa-2x"></i></a>
            
            </div>
        </div>
        </div>
    </div>

    <div class="footer-copyright text-center py-3 footer-text">© 2020 Copyright <em>Tanmay Kumar Bisoi</em> 
    </div>
    </footer>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/js/all.min.js" integrity="sha256-KzZiKy0DWYsnwMF+X1DvQngQ2/FxF7MF3Ff72XcpuPs=" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.5.0.min.js" integrity="sha256-xNzN2a4ltkB44Mc/Jz3pT4iU1cmeR0FkXs4pru/JxaQ=" crossorigin="anonymous"></script>
    </body>
</html>