<%- include ('partials/header') -%>

<div class = "container">
    <p class="info"> 
    Hi, I am Tanmay.<br>
    I design and develop websites
    </p>
    <hr class = "separator">
</div>

<%- include ('partials/footer') -%>