<%- include ('partials/header') -%>

<div class = "container">
    <p class="info"> 
    Hi, I am Tanmay.<br>
    I am a Full Stack Developer.
    </p>
    <hr class = "seperator">
</div>


<%- include ('partials/footer') -%>